# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Environment
.env
venv/
env/

# React / Node
node_modules/
build/
dist/

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Generated
output/
